.aboutPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  color: #ffffff;
  line-height: 1.7;
  background-color: transparent;
    position: relative; /* important */
  z-index: 1;     
}

.aboutHeading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #ff0000;
}

.aboutContent h2 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #ffffff;
}

.aboutContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.aboutContent strong {
  color: #ececec;
}
