body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* Hide scrollbar but still scrollable */
body::-webkit-scrollbar {
  width: 0px;  /* for Chrome, Safari, Edge */
  background: transparent; /* optional */
}

body {
  scrollbar-width: none;  /* for Firefox */
  -ms-overflow-style: none;  /* for IE and Edge */
}
.vanta-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
